@charset "UTF-8";
html{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
body{
	margin: 0;
	background-image: url("../Assets/background.jpg");
	background-size: cover;
}
.container-MainPageEmployee{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr, 1fr, 1fr, 3fr, 1fr;
}

.navbar{
	grid-column: 1 / span 2;
	grid-row: 1;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	align-items: center;
	background-color: rgb(28, 60, 78);
	box-shadow: 0px 0px 8px 2px #1C3C4E;
}
.navbar a{
	text-decoration: none;
	color: #d4af37;
}

#navbar-Website-Title{
	grid-column: 1;
	padding-left: 1rem;
}
#navbar-Inbox{
	grid-column: 1 2;
	text-align: center;
}
#navbar-Absences{
	grid-column: 2 3;
	text-align: center;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#navbar-Pay{
	grid-column: 3 4;
	text-align: center;
}

.Employee-Greeting{
	grid-column: 1 / span 2;
	grid-row: 2;
	font-size: 1rem;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.Employee-Greeting h2{
	margin-left: 4vw;
	margin-top: 5vh;
	color: #1C3C4E;
}

.Email-Header{
	padding-top: 5vh;
	grid-column: 1 / span 2;
	grid-row: 3;
	color: #1C3C4E;
	display: grid;
	grid-template-columns: [header-start]1fr [button-start]1fr;
	width: 100%;
}
.Email-Header h3{
	grid-column: header-start;
	margin-left: 3vw;
	margin-bottom: 0;
}
.Email-Header button{
	grid-column: button-start;
	width: 20%;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: #1C3C4E;
	color: #d4af37;
	border-style: none;
	border-radius: 0.5rem;
}

.Message-Table{
	grid-column: 1 / span 2;
	grid-row: 4;
	width: 100%;
	align-items: center;
	width: 95%;
	margin: auto;
	margin-top: 3vh;
	border: 1px solid #1C3C4E;
	height: 50vh;
	border-radius: 0.5rem;
	box-shadow: 10px 10px 10px rgb(28, 60, 78);
	
}
.footer{
	grid-column: 1 / span 2;
	grid-row: 5;
	bottom: 0;
	width: 100;
	position: fixed;
	align-items: center;
}

.footer p{
	text-align: center;
	margin: auto;
}